<a href="#" class="item-link item-content">
  <div class="item-inner">
    <div class="item-title">{{{ title }}}</div>
    <div class="item-after">
      <span class="badge bg-green">iOS</span>
    </div>
  </div>
</a>
