<div class="item-content">
  <div class="item-media">
    <i class="bgg-icon bgg-{{ type }} bgg-icon-fw bgg-icon-lg"></i>
  </div>
  <div class="item-inner">
  <div class="item-title"><a href="#" class="game-title">{{ title }}</a></div>
  </div>
</div>
