
  <div class="toolbar tabbar tabbar-labels">
    <div class="toolbar-inner">
      <a href="#tab-1" class="tab-link active">
        <i class="bgg-icon bgg-info bgg-icon-2x"></i>
        <span class="tabbar-label">Information</span>
      </a>
      <a href="#tab-2" class="tab-link">
        <i class="bgg-icon bgg-bullhorn bgg-icon-2x"></i>
        <span class="tabbar-label">Forums</span>
      </a>
      <a href="#tab-3" class="tab-link">
        <i class="bgg-icon bgg-comments bgg-icon-2x"></i>
        <span class="tabbar-label">Comments</span>
      </a>
      <a onclick="return false;" class="tab-link photoGallery muted">
        <i class="bgg-icon bgg-photo bgg-icon-2x"></i>
        <span class="tabbar-label">Images</span>
      </a>
    </div>
  </div>
