<a href="#" class="item-link item-content">
  <div class="item-media">
    <i class="fa">{{ index }}</i>
  </div>
  <div class="item-inner">
    <div class="item-title">{{ model.title }}</div>
  </div>
</a>
