<div id='search' class="text-align:center;">
  <input id='search_text'   type='text'>
  <a href="#" id='search_button' class='button'>Go</a>
  </hr>

  <div class='search-results list-block'></div>
</div>
