<div id='search'>
  <h1>Search</h1>
  <br/>

  <input id='search_text'   type='text'><br/>
  <input id='search_button' type='button' value="Search">
  </hr>

  <div class='search-results'></div>
  <div class="bgg-game"></div>
</div>
