<div>
  <div class="content-block min-top-margin main-layout">
    <div class="row">
      <div class="col-50 square top100-icon">
        <span class="bgg-icon bgg-stats"></span>
        <div>Top 100 Board Games</div>
      </div>
      <div class="col-50 square hotboardgames-icon">
        <span class="bgg-icon bgg-fire"></span>
        <div>Hot Board Games</div>
      </div>
    </div>
    <div class="row">
      <div class="col-33 empty"></div>
      <div class="col-33 empty">
        <img src="img/iBGG_Meeple.png" alt="iBGG" id="meeple" />
      </div>
      <div class="col-33 empty"></div>
    </div>
    <div class="row">
      <div class="col-50 square featuredgame-icon">
        <span class="bgg-icon bgg-star-fill"></span>
        <div>Featured Board Game</div>
      </div>
      <div class="col-50 square devFeedback">
        <span class="bgg-icon bgg-phone"></span>
        <div>Developer Feedback</div>
      </div>
    </div>
  </div>
</div>
