<ul>
    {{#each articles }}
      <li class="accordion-item">
        <a href="#" class="item-link item-content">
            <div class="item-inner">
              <div class="item-title">{{ username }} - {{formatDate postDate }}</div>
            </div>
        </a>
        <div class="accordion-item-content">
          <div class="content-block">
            <p class="thread-details-body">{{{ body }}}</p>
          </div>
        </div>
      </li>
    {{/each}}
</ul>
