.list-block.search-box {
  margin-top: 0px;
  margin-bottom: 10px;
}

.content-block-title.search-results-title{
  margin-top: 10px;
}

.fa-rpgitem:before{
  content: "\f183";
  color: #720076;
}

.fa-boardgame:before{
  content: "\f091";
  color: #267bd8;
}

.fa-videogame:before{
  content: "\f11b";
  color: #b20101;
}

.fa-boardgameexpansion:before{
  content: "\f1e0";
  color: #3ba501;
}

.fa.fa-linefix {
  line-height: inherit;
}

.recent-search .fa {
  color: #267bd8;
}

.panel {
  background-color: #007aff;
  /*color: white;*/
}

.panel .content-block-title, .panel p {
  color: white;
}

div[class*="col-"] {
  background: #FFF;
  text-align: center;
  color: #000;
  border: 1px solid #DDD;
  padding: 5px;
}

div[class*="col-"].empty {
  background: none;
  border: none;
}

div[class*="col-"] img {
  max-width:100%;
  max-height:100%;
}

.tab .content-block {
  margin-top: 10px;
}

.search-results li:active{
  background-color: #007aff;
}

.search-results li:active div.item-content .game-title,
.search-results li:active div.item-content i.fa-boardgame,
.search-results li:active div.item-content i.fa-rpgitem,
.search-results li:active div.item-content i.fa-videogame,
.search-results li:active div.item-content i.fa-boardgameexpansion {
  color: #ffffff !important;
}

.multiline > div.item-title {
  text-transform: none;
  white-space: normal;
}

.item-inner.centered > img{
  margin-left: auto;
  margin-right: auto
}

.fa-2x {
  font-size: 1.75em;
}

span.link {
  color: #007aff;
}

div.item-text.multiline {
  display: block;
  text-transform: none;
  min-height: 42px;
  height: auto;
  color: #717171;
}

div.list-block .item-after {
  color: #000;
}
