.view .page {
	background: #D3D3D3;
}

.list-block.search-box {
	margin-top: 0px;
	margin-bottom: 10px;
}

.content-block-title.search-results-title{
	margin-top: 10px;
}

.fa-rpgitem:before{
	content: "\f183";
	color: #720076;
}

.fa-boardgame:before{
	content: "\f091";
	color: #267bd8;
}

.fa-videogame:before{
	content: "\f11b";
	color: #b20101;
}

.fa-boardgameexpansion:before{
	content: "\f1e0";
	color: #3ba501;
}

.bgg.bgg-linefix {
	line-height: inherit;
}

.bgg.bgg-sm {
	font-size: .9em;
}

.recent-search .fa {
	color: #267bd8;
}

.panel {
	background-color: #007aff;
	/*color: white;*/
}

.panel .content-block-title, .panel p {
	color: white;
}

div[class*="col-"] {
	text-align: center;
	color: #000;
	margin-top: 5px;
	margin-bottom: 5px;
}

div[class*="col-"].empty {
	background: none;
	border: none;
}

div[class*="col-"] img {
	max-width:100%;
	max-height:100%;
}

.tab .content-block {
	margin-top: 10px;
}

.search-results li:active{
	background-color: #007aff;
}

.search-results li:active div.item-content .game-title,
.search-results li:active div.item-content i.fa-boardgame,
.search-results li:active div.item-content i.fa-rpgitem,
.search-results li:active div.item-content i.fa-videogame,
.search-results li:active div.item-content i.fa-boardgameexpansion {
	color: #ffffff !important;
}

.multiline > div.item-title {
	text-transform: none;
	white-space: normal;
}

.item-inner.centered > img{
	margin-left: auto;
	margin-right: auto
}

.bgg-icon-2x {
	font-size: 1.75em;
}

span.link {
	color: #007aff;
}

div.item-text.multiline {
	display: block;
	text-transform: none;
	/*min-height: 42px;*/
	height: auto;
	color: #717171;
}

div.list-block .item-after {
	color: #000;
}

.muted{
	background: #e0e0e0;
}

div.center.sliding {
	min-width: 60px;
}

.no-comments {
	margin:0px auto;
	width:150px;
	margin-top: 10%
}

.thread-details-body img{
	max-width: 100%;
}

div.accordion-list{
	margin-top: 0;
}

div.accordion-list, .forum-page .media-list{
	margin-top: 0;
}

div.accordion-list img, .forum-page .media-list {
	max-width: 100%;
}

.thread-details-title {
	max-width: 60%;
}

li.accordion-item.accordion-item-expanded {
	border-bottom: 1px solid lightgray;
}

#meeple {
	width: 100%;
	margin: 10 auto;
	display: block;
}

.square {
	background: #f7f7f8;
	border-radius: 10px;
	font-size: 1.2em;
	word-wrap: break-word;

	border: 1px solid #007aff;
	text-decoration: none;
	text-align: center;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	margin: 0;
	position: relative;
	overflow: hidden;
	font-family: inherit;
	cursor: pointer;
}

.square:active{
	background:rgba(0,122,255,.15);
}

.square .bgg-icon {
	font-size: 5em;
	position: relative;
	top: 5px;
}

.square:active .bgg-icon {
	color: #007aff;
}

.square div{
	position: absolute;
	bottom: 5px;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	box-sizing: border-box;
}

img.featureImage {
	width: 80%;
}

.rect {
	height:24vw!important;
	margin-bottom: 2vw;
	background: #f7f7f8;
	font-size: 1.0em;
}

/*iPhone <5*/
@media only screen
	and (min-device-height : 320px)
	and (max-device-height : 480px)
	and (orientation : portrait) {
		.square {
				height: 40vw;
		}
		.min-top-margin {
			margin-top: 10px;
		}
		img.featureImage {
			width: 70%;
		}
		.rect {
			height:19vw!important;
		}
		.bgg-coin, .bgg-phone {
			font-size: 2.5em !important;
		}
}

/* iPhone5+ */
@media
	only screen and (min-device-height: 481px){
		.square {
				height: 50vw;
		}
		.min-top-margin {
			margin-top: 20px;
		}

		.square .bgg-icon {
			font-size: 5em;
			top: 15px;
		}
		.square div{
			bottom: 10px;
		}
}

.square:active .bgg-star-fill {
	color: #FFFF00 !important;
}
.square:active .bgg-phone {
	color: #C0392B !important;
}
.square:active .bgg-stats {
	color: #8e44ad !important;
}
.square:active .bgg-fire {
	color: #e67e22;
}
.square:active .bgg-coin {
	color: #27ae60;
}

.thread-item-detail div.content-block {
	text-transform: none !important;
}

.thread-item-detail div.content-block br+br {
	display:none
}

div.quote {
	background-color: #DDD;
	padding: 5px 10px 10px 10px;
	border-radius: 5px
}

p.thread-details-body, div.quotetitle p {
	margin-top: 0 !important;
}

div.preloader-indicator-overlay{
	visibility: visible;
	background: rgba(0,0,0,.6);
	opacity: 1;
}

div.preloader-indicator-modal
{
	padding: 25px;
	margin-left: -40px;
	margin-top: -40px;
}

.modal-title {
	text-transform: none;
}

#announcements .item-subtitle {
	color: #AAA;
}
.bg-green {
	background-color: #4CD964;
	color: white;
}
